<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CaniaBrava.Properties.Settings.accountingConnectionString"
      connectionString="server=127.0.0.1;User Id=root;password=admin;Persist Security Info=True;database=accounting"
      providerName="System.Data.SqlClient" />
    <add name="CaniaBrava.Properties.Settings.AsistenciaConnectionString"
      connectionString="Data Source=CHISULSQL1;Initial Catalog=Asistencia;User ID=ctcuser;Password=ctcuser"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="BD_PROV" value="accounting"/>
    <!-- El proveedor ADO.NET  -->
    <add key="PROVEEDOR_ADONET" value="System.Data.SqlClient"/>
    <!-- La cadena de conexion -->
    <!--<add key="CADENA_CONEXION" value="Data Source=DESKTOP-IT2C2K0\SQLEXPRESS;Initial Catalog=AsistenciaCania;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;"/>
    <add key="CADENA_CONEXION" value="Data Source=.\\SQLEXPRESS;Database=asistencia_cania;uid=asistencia;pwd=1342;"/>
    <add key="CADENA_CONEXION" value="Data Source=10.183.104.52;Database=Asistencia;uid=usr_asistencia;pwd=4Sist3nc14@21;"/>-->
    <add key="CADENA_CONEXION" value="Data Source=CHISULSQL1;Database=Asistencia;uid=ctcuser;pwd=ctcuser;"/>
    <add key="CADENA_CONEXION_IOP" value="Data Source=CHISULSQL1;Database=database_IOP;uid=ctcuser;pwd=ctcuser;"/>
    

    <add key="CADENA_CONEXION_2" value="Data Source=CHISULDEV1;Database=MQT_Gastos_Chira;uid=usr_chira;pwd=UsRC41r@;"/>
    <!-- La cadena de backup -->
    <add key="CADENA_BACKUP" value="asistencia_cania --single-transaction --host=192.168.1.22 --user=root --password="/>
    <!-- Encriptación -->
    <add key="PASS_PHRASE" value="MySqlCSharpSystem"/>
    <!-- Encriptación -->
    <add key="SALT_VALUE" value="AccountingSoftware"/>
    <!-- Encriptación -->
    <add key="HASH_ALGORITHM" value="SHA1"/>
    <!-- Encriptación -->
    <add key="PASSWORD_ITERATIONS" value="2"/>
    <!-- Encriptación -->
    <add key="INIT_VECTOR" value="@1B2c3D4e5F6g7H8"/>
    <!-- Encriptación -->
    <add key="KEY_SIZE" value="256"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="UrlExcel" value="C:\Caña Brava\_Asistencia\Asistencia\MAESTRO.xlsx"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
